@import '../utils/colors';




.localisation {
    display: flex;
    height: 70px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 2px;
    background-color: $lightgrey;
    width: 100%;
    .icon-localisation {
        margin-right: 3%;
    }

    .input {
        background-color: $lightgrey;
        border: none;
        width: 111px;
    }
}


.explorer {
    background-color: $bg-secondary;
    transform: translateY(-21px);
    padding-bottom: 50px;
    .title-explorer {
        padding: 30px 5px 0 5px;
        font-size: 2em;
        text-align: center;
        font-weight: 700;
        line-height: 1.3em;
    }
    .text-explorer {
        padding-top: 15px;
        font-size: 1em;
        text-align: center;
        justify-content: center;
        margin-bottom: 25px;
        margin-right: 15px;
        margin-left: 15px;
        width: 90%;
    }
    .btn-explorer {
        display:flex;
        align-items: center;
        justify-content: center;
        font-size: 1em;
    }
}

.fonctionnement {
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0%;
    .title-fonctionnement {
        font-weight: 700;
        margin-left: 0px;
        margin-right: 0%;
        font-size: 2em;
        padding-left: 15px;
        @media screen and (min-width: 768px)  and (max-width: 1023px) {
            margin-left: 30px;
        }
        @media screen and (min-width: 1023px)  and (max-width: 1439px) {
            margin-left: 30px;
        }
        @media screen and (min-width: 1440px)  {
            margin-left: 30px;
        }
    }

}

.card-fonctionnement {
    width: 91%;
    align-items: center;
    justify-content: center;
    margin-left: 5%;


    @media screen and (min-width: 768px)  and (max-width: 1023px) {
        margin-left: 21px;
    }
    @media screen and (min-width: 1023px)  and (max-width: 1439px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90%;
        gap: 15px;
        margin-left: 55px;
    }
    @media screen and (min-width: 1440px)  {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 99%;
        gap: 1%;
        margin-left: 0px;
    }

}

.card-body-fonctionnement {
    background-color: $bg-secondary;
    position: relative;
    padding: 20px;
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(139, 135, 135, 0.5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .icon-fonctionnement {
        margin-right: 15px;
        margin-left: 15px;
        font-size: 1.5em;
        color: $darkgrey;
        order: 0;
    }
    .icon-fonctionnement:hover {
        color: $primary;
    }
    .text-fonctionnement {
        font-weight: bold;
        font-size: 0.9em;
        margin-left: 5px;
        margin-top: 7px;
    }

    .circle {
        width: 13px;
        height: 13px;
        background-color: #9356DC;
        color: white;
        padding: 9px 9px 9px 9px;
        border-radius: 50%;
        position: absolute;
        font-size: 1em;
        transform: translateY(-10%) translateX(-100%);
        align-items: center;
        justify-content: center;
        text-align: center;
    .number {
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        top: 25%;
        right: 35%;
    }
}
}


.restaurant {
    display: flex;
    flex-direction:column;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: $bg-secondary;
    .title-restaurant {
        font-weight: 700;
        padding-bottom: 20px;
        padding-left: 15px;
        @media screen and (min-width: 768px)  and (max-width: 1023px) {
            margin-left: 30px;
        }
        @media screen and (min-width: 1023px)  and (max-width: 1439px) {
            margin-left: 30px;
        }
        @media screen and (min-width: 1440px)  {
            margin-left: 30px;
        }


    }
    .cards-restaurants {
        display: flex;
        flex-direction:column;
        width: 97%;
        margin-left: 5px;
        justify-content: center;
        align-items: center;
    }
    .card-row {
    width: 97%;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px)  and (max-width: 1023px) {
        margin-left: 40px;
        width: 95%;
    }
    @media screen and (min-width: 1023px)  and (max-width: 1439px) {
        display: flex;
        flex-direction: row !important;
        width: 90%;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
    }
    @media screen and (min-width: 1440px)  {
        display: flex;
        flex-direction: row !important;
        width: 90%;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        margin-left: 55px;
    }

    }
    .card-body-restaurant {
        text-decoration: none;
        color: #000000;
        width: 80vw;
        margin-bottom: 35px;
        border-radius: 20px;
        .img-restaurant {
            display: flex;
            border-radius: 20px 20px 0 0;
            max-width: 95%;
            object-fit: cover;
        @media screen and (min-width: 1024px)  and (max-width: 1439px) {
            height: 200px;
            width: 100%;
        }
            @media screen and (min-width: 1440px)  {
        height: 275px;
        width: 100%;
            }

        }
        .img-2{
            width: 100%;
            height: 168px;
            object-fit: cover;
            max-width: 95%;
            border-radius: 20px 20px 0 0;
        @media screen and (min-width: 768px)  and (max-width: 1023px) {
            height: 401px;


        }
        @media screen and (min-width: 1024px)  and (max-width: 1439px) {
            height: 200px;
            width: 100%;
        }
    @media screen and (min-width: 1440px)  {
        height: 275px;

    }
        
        }

        .nouveau {
            position: relative;

        }
        #new-btn {
            display: flex;
            position: absolute;
            top: 5%;
            right: 7% !important;
            background-color: $tertiary;
            border: none;
            color: $green;
            font-size: 1em;
            padding: 7px 13px 7px 13px;
            font-weight: bold;
            margin-top: 0%;
            margin-bottom: 0%;
        @media screen and (min-width: 768px)  and (max-width: 1023px) {
            top: 5%;
            right: 8%;

        }

    @media screen and (min-width: 1024px)  and (max-width: 1439px) {
        top: 5%;
        right: 8%;

    }
    @media screen and (min-width: 1440px) {
        top: 5%;
        right: 8%;

    }
}

    #new-btn1 {
        display: flex;
        position: absolute;
        top: 5%;
        right: 8%;
        background-color: $tertiary;
        border: none;
        color: $green;
        font-size: 1em;
        padding: 7px 13px 7px 13px;
        font-weight: bold;
        margin-top: 0%;
        margin-bottom: 0%;
    @media screen and (min-width: 768px)  and (max-width: 1023px) {
        top: 5%;
        right: 8%;

    }

@media screen and (min-width: 1024px)  and (max-width: 1439px) {
    top: 5%;
    right: 8%;

}
@media screen and (min-width: 1440px) {
    top: 5%;
    right: 8%;

}

    }

            

        .card-text {
            position: relative;
            background-color: white;
            border-radius: 0 0 20px 20px;
            max-width: 95%;
            i {
                font-size: 24px;
                position: absolute;
                right: 16px;
                top: 17%;
            }
            .fa-solid {
                color: transparent;
                background-image: linear-gradient(to top, rgba(147, 86, 220, 1), rgba(255, 121, 218, 1));
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                transition: all 200ms ease-in-out;
            }
            &:hover .fa-solid {
                opacity: 1;
                transform: scale(1.1);
            }

        @media screen and (min-width: 768px)  and (max-width: 1023px) {
            margin-bottom: 20px;
        }

            h2 {
                font-weight: 600;
                margin: 0px 10px 10px 10px;
                padding-top: 10px;

            }
            p {
                margin: 5px 10px 10px 10px;
                padding-bottom: 10px;
            }

        }
        .icon-hearth {
            position: absolute;
            right: 50px;
            bottom: 30px;
            font-size: 1.5em;
        }
        
    }


}


.bg-bottom {
    background-color: $bg-secondary;
    max-width: 100vw;
    margin:0;
    margin-bottom: 30px;


    @media screen and (min-width: 1440px)   {
        margin-left: auto;
        margin-right: auto;
        background-color: $bg-secondary;


    }
}

.loader-spinner {
    background-color: #FFFF;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0.9;
    animation: removeloader 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    transform-origin: top;
}

@keyframes removeloader {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}



.nk-spinner {
    position: absolute;
    top: 45%;
    left: 45%;
    box-sizing: border-box;
    width: 90px;
    height: 90px;
    text-indent: -9999em;
    border: 6px solid $primary;
    border-left: 6px solid $secondary;
    border-right: 6px solid $tertiary;
    border-radius: 50%;
    animation: nk-spinner .5s infinite linear;
}

@keyframes nk-spinner {
    100% { 
        transform: rotate(360deg) 
    }
}